:root {
    font-family: 'JetBrains Mono', monospace;
    --color-bg: #272727;
    --color-text: #e0def4;
    --color-link: #58afdd;
    /* --color-accent-text: #ffd987; */
    --color-accent: #9ccfd8;
    --color-accent-text: #9ccfd8;
    /* --color-accent-text: #c4a7e7; */
    --color-accent-text: #58afdd;
    --color-header: #98be82;
}

.theme-light {
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-accent-text: #58afdd;
    --color-accent: #58afdd;
    --color-link: #0000ff;
}

.span-header {
    color: var(--color-header);
}

html {
    background-color: var(--color-bg);
    color: var(--color-text);
}

a:link,
a:visited {
    color: var(--color-link);
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin: 20px 0;
}

span {
    color: var(--color-accent-text);
}

.sidebar {
    border-left: 3px solid var(--color-accent);
    border-radius: 0px;
    row-gap: 10px;
    padding-left: 20px;
}


/* ===================== */
/* LINK HOVER ANIMATIONS */
/* ===================== */
a:hover {
    color: var(--color-accent);
}

.underline-animation a,
a.underline-animation {
    display: inline-block;
    position: relative;
}

.underline-animation a::after,
a.underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0) translateY(4px);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-accent);
    transition: transform 0.25s ease-out;
    transform-origin: bottom center;
}

.underline-animation a:hover::after,
a.underline-animation:hover::after {
    transform: scaleX(1) translateY(4px);
}
