:root {
    font-family: 'JetBrains Mono', monospace;
    --color-bg: #272727;
    --color-text: #e0def4;
    --color-link: #9ccfd8;
    --color-link-hover: #c4a7e7;
    --color-accent-pine: #31748f;
    --color-accent-rose: #ebbcba;
    --color-accent-gold: #f6c177;
    --color-header: #98be82;
}

.theme-light {
    --color-bg: #faf4ed;
    --color-text: #575279;
    --color-link: #56949f;
    --color-link-hover: #907aa9;
    --color-accent-pine: #286983;
    --color-accent-rose: #d7827e;
    --color-accent-gold: #ea9d34;
    --color-header: #5a7d4f;
}

html {
    background-color: var(--color-bg);
    color: var(--color-text);
}

a:link,
a:visited {
    color: var(--color-link);
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin: 20px 0;
}

h1 {
    font-size: 20pt;
}

.list-no-style {
    list-style-type: none;
}

span {
    color: var(--color-accent-gold);
}

.span-header {
    color: var(--color-header);
}

.span-command {
    color: var(--color-accent-rose);
}

.sidebar {
    border-left: 3px solid var(--color-accent-pine);
    border-radius: 0px;
    row-gap: 10px;
    padding-left: 20px;
}


/* ===================== */
/* LINK HOVER ANIMATIONS */
/* ===================== */
a:hover {
    color: var(--color-link-hover);
}

.underline-animation a,
a.underline-animation {
    display: inline-block;
    position: relative;
}

.underline-animation a::after,
a.underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0) translateY(4px);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-accent-pine);
    transition: transform 0.25s ease-out;
    transform-origin: bottom center;
}

.underline-animation a:hover::after,
a.underline-animation:hover::after {
    transform: scaleX(1) translateY(4px);
}
