---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1><span>PAGE NOT FOUND</span></h1>
</Layout>

<style>
    body {
        min-height: 100%;
    }

    body > h1 {
        white-space: nowrap;
        font-size: 20pt;
    }
</style>
