---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Changelog!</h1>
    <p>Just like <a href="https://ericzheng.nz/changelog.html" target="_blank">Eric</a>, will change to RSS when time permits</p>
    <ul class="sidebar">
        <li>
            <span class="big-text">1.0.0</span> <time>22/05/2025</time>
            <p><strong>official launch</strong> of the site!!!</p>
        </li>
    </ul>
</Layout>

<style>
.big-text {
    font-size: 1.2rem;
}

li {
    margin: 10px 0;
}

ul {
    list-style-type: none;
}
</style>
