---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Checklist!</h1>
    <p>Just like <a href="https://ericzheng.nz/checklist.html" target="_blank">Eric</a>, todo-list of all future additions I am currently thinking about</p>
    <ul class="sidebar">
        <li>
            <p>- [ ] finish the projects page</p>
            <span>\t &gt what happened to showcasing all my grand projects to the wider community??</span>
        </li>
        <li>
            <p>- [ ] set up an RSS feed for changelog</p>
            <span>\t &gt what even is an RSS feed??</span>
        </li>
        <li>
            <p>- [ ] fix mobile view</p>
            <span>\t &gt what happened to mobile first development??</span>
        </li>
        <li>
            <p>- [x] <s>implement light and dark mode</s> [completed 23/05/2025]</p>
            <span>\t &gt what happened to accessibility (i dont want to be blinded)??</span>
        </li>
        <li>
            <p>- [ ] start a new blog page</p>
            <span>\t &gt what happened to sharing knowledge to fans??</span>
        </li>
        <li>
            <p>- [ ] start a new book page</p>
            <span>\t &gt what happened to reading in this economy??</span>
        </li>
        <li>
            <p>- [ ] start a new coffee page</p>
            <span>\t &gt what happened to being performative and non-chalant??</span>
        </li>
    </ul>
</Layout>

<style>
.big-text {
    font-size: 1.2rem;
}

li {
    margin: 10px 0;
}

ul {
    list-style-type: none;
}
</style>
