---
import Layout from "../layouts/Layout.astro";

---

<Layout>
    <h1>Friends!!!!</h1>
    Give my friends some love too &lt3
    <ul>
        <li><a href="https://ericzheng.nz" target="_blank">Eric "disaster" Zheng</a></li>
        <li><a href="https://antga.dev" target="_blank">Anton "atlassian" Garay</a></li>
        <li><a href="https://andrewqiu.com" target="_blank">Andrew "tea" Qiu</a></li>
        <li><a href="https://voxelfs.com" target="_blank">Owen "masters" Li</a></li>
        <li><a href="https://www.josbadenas.com/" target="_blank">Jos "chad" Badenas</a></li>
        <li><a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank">Yoyo "banned" Chen</a></li>
        <li><a href="https://www.baljottoor.com/" target="_blank">Baljot "spiderman" Toor</a></li>
    </ul>
</Layout>


<style>
ul {
    margin-left: 20px;
}

li {
    margin: 10px 0;
}
</style>
