---
import Layout from "../layouts/Layout.astro";

---

<Layout>
    <h1><span class="span-header">~/friends</span> $ <span class="span-command">echo</span> <span class="span-accent">"cool"</span> </h1>
    <p>during my time at university, i've come across some really cool people!</p>
    <p>make sure to give them some love too &lt3</p>
    <ul>
        <li><a href="https://ericzheng.nz" target="_blank">Eric "disaster" Zheng</a></li>
        <li><a href="https://alanna.nz/" target="_blank">Alanna "saptoso" Santoso</a></li>
        <li><a href="https://aleckshen.com/" target="_blank">Aleck "performative" Shen</a></li>
        <li><a href="https://ashleeshum.com/" target="_blank">Ashlee "dim" Shum</a></li>
        <li><a href="https://antga.dev" target="_blank">Anton "atlassian" Garay</a></li>
        <li><a href="https://aaronworsnop.com/" target="_blank">Aaron "david" Worsnop</a></li>
        <li><a href="https://andrewqiu.com" target="_blank">Andrew "tea" Qiu</a></li>
        <li><a href="https://bethany.nz/" target="_blank">Bethany "google" Yates</a></li>
        <li><a href="https://kaytang.com/" target="_blank">Kay "tired" Tang</a></li>
        <li><a href="https://tyooou.github.io/tyleryoung/" target="_blank">Tyler "tyou" Young</a></li>
        <li><a href="https://voxelfs.com" target="_blank">Owen "olimetry" Li</a></li>
        <li><a href="https://www.josbadenas.com/" target="_blank">Jos "chad" Badenas</a></li>
        <li><a href="https://abbeymartinez.com/" target="_blank">Abbey "trust" Martinez</a></li>
        <li><a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank">Yoyo "banned" Chen</a></li>
    </ul>
</Layout>


<style>
ul {
    margin-left: 20px;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: underline;
}
</style>
