---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1>Kia ora! my name is <span>Koutaro Yumiba</span></h1>
    <p>I'm the originator of "real" and also a triple exec at the University of Auckland</p>

    <h2>Notable Achievements</h2>
    <div class="sidebar">
        <ul>
            <li>Custom <a href="https://github.com/Kot6603/nvim" target="_blank">Neovim Config</a>?!?</li>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
        </ul>
    </div>
    <h2>Leadership Roles</h2>
    <div class="sidebar">
        <ul>
            <li>Web Development and Consulting Club (WDCC) <span>Education</span> Executive</li>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
        </ul>
    </div>
</Layout>

<style>
h1 {
    font-size: 20pt;
}
</style>
