---
---
<div id="themeToggle" class="underline-animation">./theme</div>

<style>
    #themeToggle {
        border: 0;
        background: none;
        color: var(--color-text);
        font-size: 1rem;
        font-weight: 500;
        margin: auto;
    }

    #themeToggle:hover {
        cursor: pointer;
    }
</style>

<script is:inline>
    const theme = (() => {
        const localStorageTheme = localStorage?.getItem("theme") ?? "";
        console.log("what", localStorageTheme)
        if (["theme-dark", "theme-light"].includes(localStorageTheme)) {
            console.log("Yes")
            return localStorageTheme;
        }

        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "theme-dark"
        } else {
            return "theme-light"
        }
    })();

    if (theme === "theme-light") {
        document.documentElement.classList.add("theme-light")
    }

    window.localStorage.setItem("theme", theme)

    const handleToggleClick = () => {
        console.log("ouch!!!")
        const element = document.documentElement
        element.classList.toggle("theme-light")

        const isLight = element.classList.contains("theme-light")
        localStorage.setItem("theme", isLight ? "theme-light" : "theme-dark")
    }

    document.getElementById("themeToggle")?.addEventListener("click", handleToggleClick)
</script>
