---
import Layout from "../../layouts/Layout.astro"
import { getLeetcodeEntries } from "../../utils/leetcodeUtils";

export async function getStaticPaths() {
    const allLeetcode = getLeetcodeEntries()
    const something = allLeetcode.map(leetcode => {
        return ({
            params: {slug: leetcode.filename}
        })
    });
    return something
}

const allLeetcode = getLeetcodeEntries()

const { slug } = Astro.params

const currentLeetcode = allLeetcode.filter(leetcode => {
    return leetcode.filename === slug;
})[0];
---

<Layout>
    <h1><a href="/leetcode">~/leetcode</a> <span class="span-header">$</span> <span>{currentLeetcode.frontmatter.question_id}.</span> {currentLeetcode.frontmatter.title}</h1>
    <div class="frontmatter">
        <a href={currentLeetcode.frontmatter.question_link} target="_blank">
            Question Link
        </a>
        <p>Difficulty: <span>{currentLeetcode.frontmatter.difficulty}</span></p>
    </div>
    <currentLeetcode.Content />
</Layout>

<style is:global>
.frontmatter {
    margin: 20px;
}
.astro-code {
    padding: 5px;
    margin: 10px;
}
blockquote, .frontmatter {
    border-left: 3px solid var(--primary-blue);
    border-radius: 0px;
    row-gap: 10px;
    padding-left: 20px;
    margin: 20px 0;
}
</style>
