---
import Layout from "../../layouts/Layout.astro"
import { getLeetcodeEntries } from "../../utils/leetcodeUtils";
import { type LeetcodeEntry } from "../../types/types"

const allLeetcode = getLeetcodeEntries().reverse()
---
<Layout>
    <h1>Leetcode</h1>
    <ul>
        {allLeetcode.map((leetcode: LeetcodeEntry) => {
        let number = leetcode.frontmatter.question_id;
        number = "_".repeat(4 - number.length) + number
        return (
        <li>
            <a href={`/leetcode/${leetcode.filename}`}>
                {leetcode.filename.substring(0, leetcode.filename.length - 3)} -- {number} -- {leetcode.frontmatter.title}
            </a>
        </li>
        )})}
    </ul>
</Layout>
