---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <h1>Books Hall of Fame</h1>
    <p>Basically all the books that got a 5/5 on <a href="/books">my all book list</a></p>
    <ul class="sidebar">
        <li>1. <span>The Giver</span> - Lois Lowry</li>
        <ul>
            <li>=&gt first ever book that got me into reading the classic novels (first read in year 8)</li>
            <li>=&gt good introduction to the more utopia/dystopia novels</li>
            <li>=&gt makes you think deeply about the importance of colour and emotion</li>
        </ul>
        <li>2. <span>1984</span> - George Orwell</li>
        <ul>
            <li>=&gt personal favourite book of all time</li>
            <li>=&gt newspeak (importance of language) and the concept of freedom being slavery</li>
            <li>=&gt control by fear and power (in contrast to Brave New World)</li>
        </ul>
        <li>3. <span>The Alchemist</span> - Paulo Coelho</li>
        <ul>
            <li>=&gt everyone has their own Personal Legends and the world will conspire to help you</li>
            <li>=&gt makes you want to think about your own Personal Legends</li>
        </ul>
        <li>4. <span>Brave New World</span> - Aldous Huxley</li>
        <ul>
            <li>=&gt the concept of utopia as a "good place that does not exist"</li>
            <li>=&gt most probable dystopian society that could occur in modern society</li>
        </ul>
        <li>5. <span>The Love Song of J Alfred Prufrock</span> - TS. Eliot</li>
        <ul>
            <li>=&gt my favourite poem (probably biased because its the poem that i analysed the most)</li>
            <li>=&gt presents the modernistic view of society - "pool that stands and drains"</li>
        </ul>
        <li>6. <span>Notes From Underground</span> - Fyodor Dostoyevsky</li>
        <ul>
            <li>=&gt a story of a spiteful man... challenges the fundamental needs of utopia</li>
            <li>=&gt give a man the ultimate utopia and they will ruin it just to see something unexpected</li>
        </ul>
        <li>7. <span>12 Rules For Life</span> - Jordan B Peterson</li>
        <ul>
            <li>=&gt the only non-fiction book on this list</li>
            <li>=&gt provides principles to which you can translate into action</li>
        </ul>
    </ul>
</Layout>

<style>
ul {
   list-style-type: none;
}
li {
    padding: 5px;
}
</style>
