---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <h1>Projects</h1>
    <ul class="sidebar">
        <li><a href="/projects/allocation">./projects/project-allocation-script</a></li>
        <li><a href="/projects/neovim">./projects/neovim</a></li>
        <li><a href="/projects/interpreters">./projects/interpreters</a></li>
    </ul>
</Layout>

<style>
ul {
   list-style-type: none;
}
li {
    padding: 5px;
}
</style>
