---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <h1><span class="span-header">~/projects</span> $ <span class="span-command">ls</span></h1>
    <ul class="sidebar">
        <li><a href="/projects/neovim">./projects/neovim</a></li>
        <li><a href="/projects/project-allocation-script">./projects/project-allocation-script</a></li>
        <li><a href="/projects/interpreters">./projects/interpreters</a></li>
        <li><a href="/projects/terminal-wordle">./projects/terminal-wordle</a></li>
        <li><a href="/projects/registration-platform">./projects/registration-platform</a></li>
        <li><a href="/projects/var-namer">./projects/var-namer</a></li>
        <li><a href="/projects/vps">./projects/vps</a></li>
        <li><a href="/projects/yoyos-amazing-bingo">./projects/yoyos-amazing-bingo</a></li>
        <li><a href="/projects/wdcc">./projects/wdcc</a></li>
    </ul>
</Layout>

<style>
ul {
   list-style-type: none;
}
li {
    padding: 5px;
}
</style>
