---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import neovimImage from "../../assets/neovim.png";
import telescopeImage from "../../assets/telescope.png";
---
<Layout>
    <h1>NEOVIM</h1>
    <p>I love neovim...</p>
    <p>Did I say I love neovim...?</p>
    <p>I can just move so fast and the code just appear on the screen like brrrrrr</p>
    <div class="imageRow">
        <Image src={neovimImage} alt="image of neovim" width="600" />
        <Image src={telescopeImage} alt="image of telescope in neovim" width="600" />
    </div>
    <div class="sidebar">
        <p>GitHub Repo: <a href="https://github.com/koutaroyumiba/nvim" target="_blank">Neovim Config</a></p>
    </div>
</Layout>

<style>
.imageRow {
    display: flex;
}
</style>
