---
import Layout from "../../layouts/Layout.astro";

---
<Layout>
    <h1><span class="span-header">~/projects</span> $ <span class="span-command">cd project-allocation-script</span></h1>
    <h2><span class="span-header">~/projects/project-allocation-script</span> $ <span class="span-command">cat motivation</span></h2>
    <h2><span class="span-header">~/projects/project-allocation-script</span> $ <span class="span-command">cat description</span></h2>
    <h2><span class="span-header">~/projects/project-allocation-script</span> $ <span class="span-command">cat challenges</span></h2>
    <h2><span class="span-header">~/projects/project-allocation-script</span> $ <span class="span-command">cat learnings</span></h2>
    <h2><span class="span-header">~/projects/project-allocation-script</span> $ <span class="span-command">cat value</span></h2>
</Layout>
