---
import Header from "../components/Header.astro";
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Koutaro Yumiba</title>
	</head>
    <body>
        <Header />
        <section>
            <slot />
        </section>
	</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    section {
        margin: auto;
        width: 80%;
    }
</style>
